  <div class="container">
    <h1 class="text-center">Prueba técnica</h1>
    <br><br>
    <table>
      <tr>
        <th>Lista Empresas</th>
      </tr>      
      <tr *ngFor="let lista of arrayEntities">
        <td>
          <input type="checkbox" id="{{lista.entityId}}" name="{{lista.name}}" (change)="checkEntity($event)">
          {{ lista.name }}</td>
      </tr>
    </table>
    <br>
    <button class="btn-primary" (click)="showNewEntities()" >Consultar</button>
    <br><br><br>
    <table class="table row-border hover" datatable [dtOptions]="dtOptions" >
      <thead>
        <tr>
          <th>Entity ID</th>
          <th>Name</th>
          <th>Identification Number</th>
          <th>Expiration Date</th>
          <th>Contact Name</th>
          <th>Contact Mail</th>
          <th>IP Address</th>
          <th>Logo</th>
        </tr> 
      </thead>  
      <tbody>  
        <tr *ngFor="let entity of arrayNewEntities">
          <td> {{ entity.entityId }} </td>
          <td> {{ entity.name }} </td>
          <td> {{ entity.identificationNumber }} </td>
          <td> {{ entity.expirationDate }} </td>
          <td> {{ entity.contactName }} </td>
          <td> {{ entity.contactMail }} </td>
          <td> {{ entity.ipAddress }} </td>
          <td><img src="{{ entity.logo }}"> </td>
          <td> 
            <button>
              <i class="bi bi-pencil-fill"></i>
            </button> 
          </td>
          <td> 
            <button (click)="deleteEntity(entity.entityId)">
              <i class="bi bi-trash3-fill"></i>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>  
